/* slider.css */
.SP {
  position: relative;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1500px;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 8px; /* Añade un margen de 8px alrededor del contenedor */
}

.swiper-container {
  width: 100%;
  height: auto; /* Permite que el swiper tenga altura dinámica */
  margin: 0 auto; /* Centra el swiper horizontalmente */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
 .swiper-slide img {
    width: 100%; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
  }
  
}