.descripcion-servicio {
    padding: 20px;
    padding: 2rem;
  }
  
  .productos,.nuestros-servicios,.reparacion {
    margin-bottom: 20px;
  }
  
  .descripcion-servicio p {
    line-height: 1.6;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .section h2 {
    margin-top: 0;
  }