.container-footer {
    background-color: #15297c;
    min-height: 50vh;
    margin: 0 auto;
    
  }
  
  .wrapper-footer-social-networks {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    margin: auto;
    padding-top: 30px;
    gap: 0.5rem;
    padding-bottom: 30px;
  }
  
  .wrapper-footer-social-networks img {
    width: 40px;
    height: 40px;
  }
  
  .wrapper-footer {
    max-width: 1240px;
    margin: auto;
    padding-top: 60px;
    border-top: solid 1.5px var(--border-blue);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    width: 20%;
    padding: 0 1px;
  }
  
  .footer-cg-logo img {
    position: relative;
    top: -22px;
    width: 190px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.01rem;
  }
  
  .footer-col:nth-child(1) ul li a {
    color: #fff;
  }
  
  .footer-trust img {
    width: 100px;
    height: 20px;
  }
  
  .footer-col:last-child {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: #fff;
  }
  
  .footer-col ul li a:hover {
    color: #fff;
    padding-left: 7px;
  }
  
  .footer-trust{
      cursor: pointer;
  }
  
  
  .wrapper-footer-reserved {
    display: flex;
    flex-direction: row;
    max-width: 350px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 30px;
    letter-spacing: 0.02rem;
  }
  
  
  
  @media (max-width: 1271px) {
    .footer-col {
      width: 30%;
      padding-left: 120px;
    }
  
    .wrapper-footer-social-networks {
      padding-left: 110px;
    }
  }
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
      padding-left: 30px;
    }
    .wrapper-footer-social-networks {
      padding-left: 110px;
    }
    .wrapper-footer-reserved {
      flex-direction: column;
      width: 400px;
      margin: 0px;
    }
  }
  