.page_404 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
	background-color: #E8E8E8;
	padding: 50px 0;
}

.container-error {
	max-width: 1200px;
	margin: 0 auto;
}


.col-sm-12 {
	width: 100%;
}

.col-sm-10 {
	width: 83.33333333%;
}

.col-sm-offset-1 {
	margin-left: 8.33333333%;
}

.text-center {
	text-align: center;
    
}

.four_zero_four_bg {

	position: relative;
    top: -200px;
    background-position: center;
}

.four_zero_four_bg h1 {
 
	font-size: 70px;
	line-height: 200px;
	color: #000;
	text-align: center;
    
}

.contant_box_404 {
	margin-top: -50px;
}




.link_404 {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	background-color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}
